.jumbotron {
  padding: 5rem 1rem;
  background-color: #e2edff;
}

#about {
  padding: 5rem 1rem;
  background-color: #a8c5f4;
}

.sosmed {
  display: flex;
}

body {
  min-height: 2000px;
}

#find {
  padding: 2rem;
  background-color: #a8c5f4;
}

#educations {
  padding: 2rem;
  background-color: #e2edff;
}

#contact {
  background-color: #e2edff;
}
